.startEndDates {
  display: flex;
  gap: 60px;
  margin-bottom: 20px;
}
.startEndDates input {
  color: rgb(134, 134, 134);
}
.expHr {
  margin: 30px 0;
}
.addMoreExp {
  width: 300px;
  height: 40px;
  background-color: #62a1eb;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
