.main {
  display: flex;
  background-color: #f0f0f0;
  width: 100%;
  height: 100vh;
}
.left {
  width: 60%;
  height: 100vh;
}
.right {
  width: 40%;
  height: 100vh;
  background-color: white;
}
header {
  width: 76%;
  margin: 0 auto;
  margin-top: 50px;
}
.headerInfo {
  display: flex;
  justify-content: space-between;
}
.backLogo {
  position: relative;
  top: 11px;
  left: -520px;
}
.pic1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pic2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-style: 5px;
}
header h2 {
  font-family: mtav;
}
.personalHr {
  margin-top: 5px;
}
.uploadBtn,
label,
span,
input::placeholder {
  font-family: HelveticaNeue;
}
section {
  display: flex;
  flex-direction: column;
  width: 76%;
  margin: 0 auto;
}
.parent {
  display: flex;
  column-gap: 60px;
  margin-top: 40px;
}
.inputDiv {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 30px;
}
.inputDiv input {
  padding: 10px 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #bcbcbc;
}
label {
  font-size: 16px;
  font-weight: 600;
}
span {
  font-size: 12px;
  color: #646464;
}
.upload {
  margin: 40px 0;
}
.uploadBtn {
  padding: 6px 14px;
  background-color: #0e80bf;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 20px;
  font-size: 13px;
  cursor: pointer;
}
.aboutMe {
  display: flex;
  flex-direction: column;
}
.aboutMe input {
  padding: 10px 0 70px 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #bcbcbc;
}
.nextBtn {
  width: 140px;
  height: 45px;
  line-height: 50px;
  border-radius: 5px;
  background-color: #6b40e3;
  border: none;
  color: white;
  align-self: flex-end;
  margin-top: 160px;
  cursor: pointer;
  font-family: mtav;
  letter-spacing: 0.14em;
  font-size: 16px;
}
.prevBtn {
  width: 90px;
  height: 45px;
  line-height: 50px;
  border-radius: 4px;
  background-color: #6b40e3;
  border: none;
  color: white;
  margin-top: -35px;
  cursor: pointer;
  font-family: mtav;
  letter-spacing: 0.014em;
  font-size: 16px;
  display: none;
}

.right {
  display: flex;
  flex-direction: column;
  background-color: orange;
}
.personalInfoComponent {
  background-color: aqua;
}
.half {
  width: 80%;
  margin: 0 auto;
  margin-top: 70px;
  background-color: #6b40e3;
}
.half,
.textSie,
.mailRight,
.phoneRight {
  display: flex;
}
.textSide h2 {
  color: #f93b1d;
  font-family: mtav;
  font-weight: bolder;
  margin-bottom: 20px;
}
.textSide figure p {
  margin-left: 10px;
}
.phoneRight img,
.phoneRight p {
  margin-top: 5px;
}
.textSide h3 {
  color: #f93b1d;
  margin: 20px 0;
}
