.main {
  display: flex;
  background-color: var(--formColor);
  width: 100%;
  height: 100vh;
}
.left {
  width: 60%;
  height: 100vh;
}
.right {
  width: 40%;
  height: 100vh;
  background-color: white;
  padding: 80px 80px 0 80px;
  position: relative;
}

header h2 {
  font-family: mtav;
}
.personalHr {
  margin-top: 5px;
}
.uploadBtn,
label,
span,
input::placeholder {
  font-family: HelveticaNeue;
}
section {
  display: flex;
  flex-direction: column;
  width: 76%;
  margin: 0 auto;
}
.parent {
  display: flex;
  column-gap: 60px;
  margin-top: 40px;
}

label {
  font-size: 16px;
  font-weight: 600;
}
span {
  font-size: 12px;
  color: #646464;
}
.upload {
  margin: 40px 0;
}
.uploadBtn {
  padding: 6px 14px;
  background-color: #0e80bf;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 20px;
  font-size: 13px;
  cursor: pointer;
}
.aboutMe {
  display: flex;
  flex-direction: column;
}
.aboutMe input {
  padding: 10px 0 70px 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #bcbcbc;
}
.nextBtn {
  width: 140px;
  height: 45px;
  line-height: 50px;
  border-radius: 5px;
  background-color: #6b40e3;
  border: none;
  color: white;
  align-self: flex-end;
  margin-top: 100px;
  cursor: pointer;
  font-family: mtav;
  letter-spacing: 0.14em;
  font-size: 16px;
}
.prevBtn {
  width: 90px;
  height: 45px;
  line-height: 50px;
  border-radius: 4px;
  background-color: #6b40e3;
  border: none;
  color: white;
  margin-top: -42px;
  cursor: pointer;
  font-family: mtav;
  letter-spacing: 0.014em;
  font-size: 16px;
  display: none;
}

.personalInfoComponent {
  /* background-color: aqua; */
}

.half,
.mailRight,
.phoneRight {
  display: flex;
}
.textSide h2 {
  color: var(--title);
  font-weight: bolder;
  margin-bottom: 20px;
  font-family: mtav;
}
.textSide figure p {
  margin-left: 10px;
}
.phoneRight img,
.phoneRight p {
  margin-top: 5px;
}
.textSide h3 {
  margin: 30px 0 20px 0;
  color: var(--title);
  font-weight: bolder;
  font-family: mtav;
}
.pictureSide img {
  margin-top: -45px;
}
.aboutMeText {
  text-align: justify;
  font-family: HelveticaNeue;
}
.right hr {
  margin: 20px 0;
}
/* .experienceComponent h3, */
.educationComponent h3 {
  margin-bottom: 10px;
  color: var(--title);
  font-weight: bolder;
  font-family: mtav;
}
.expName,
.eduName {
  margin-bottom: 5px;
  font-family: HelveticaNeue;
}
.expDate,
.eduDate {
  font-family: HelveticaNeue;
  font-size: 14px;
}
.expParagrap,
.eduParagrap {
  margin: 20px 0;
  font-family: HelveticaNeue;
  line-height: 24px;
  text-transform: capitalize;
}
.bottomLogoStar {
  position: absolute;
  bottom: 40px;
  left: 80px;
}
